@font-face {
  font-family: 'letters for learners';
  src: url(../fonts/letters-for-learners.ttf);
}

@font-face {
  font-family: 'futura';
  src: url(../fonts/futura.ttc);
}

body.child{
  background-color: #6886E0;
  color: white;
}

body.teen{
  background-color: #F2F2F2;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.clearboth {
  clear: both;
}

/*

HEADER

*/

header{
  font-family: 'letters for learners';
}

header>h1 {
  text-align: center;
  font-size: 90px;
  margin-top: 0px;
}

header>a.child {
  font-size: 20px;
}

header>a.child:hover {
  text-decoration: underline;
}

header>a.teen {
  font-size: 20px;
  font-family: 'futura';
  font-size: 15px;
  color: black;
}

header>a.teen:hover {
  text-decoration: underline;
}

header div#icon_facebook {
  content: url(../images/facebook.png);
  position: fixed;
  width: 30px;
  top: 10px;
  right: 10px;
}

header div#icon_instagram {
  content: url(../images/instagram.png);
  position: fixed;
  width: 30px;
  top: 10px;
  right: 60px;
}

header div#icon_facebook.teen {
  content: url(../images/facebook_black.png);
  position: fixed;
  width: 30px;
  top: 10px;
  right: 10px;
}

header div#icon_instagram.teen {
  content: url(../images/instagram_black.png);
  position: fixed;
  width: 30px;
  top: 10px;
  right: 60px;
}

header div.big_title {
  text-align: center;
  line-height: 50px;
}

header div.big_title h1#title {
  font-size: 100px;
}

header div.big_title h1#description {
  font-size: 50px;
}

header div.small_title {
  text-align: center;
  line-height: 20px;
  margin-top: -50px;
  margin-bottom: 100px;
}

header div.small_title h2#title {
  font-size: 50px;
}

header div.small_title h2#description {
  font-size: 40px;
}

/*

MAIN

*/

main.child {
  font-family: 'letters for learners';
}

main.teen {
  font-family: 'futura';
}

/*index*/

main.child div#age {
  text-align: center;
  font-size: 50px;
}

main.child div#age span {
  margin-top: 100px;
  display: block;
}

main.child div#age form {
  margin: 70px auto 0 auto;
  height: 100px;
  width: 500px;
  border-radius: 100px;
  background-color: #F7BB21;
}

main.child div#age select {
  font-family: 'letters for learners';
  background-color: #F7BB21;
  width: 84%;
  height: 100%;
  font-size: 25px;
  color: white;
  border: 0px solid white;
  cursor:pointer;
}

main.child div#monster {
  content: url(../images/red_monster.png);
  width: 200px;
  position: fixed;
  bottom: 10px;
}

main.child div#man {
  content: url(../images/man.png);
  width: 200px;
  position: fixed;
  bottom: 0px;
  left: 200px;
}

main.teen div#age {
  text-align: center;
  font-size: 50px;
}

main.teen div#age span {
  margin-top: 100px;
  display: block;
}

main.teen div#age form {
  margin: 70px auto 0 auto;
  height: 100px;
  width: 500px;
  border-radius: 100px;
  background-color: #84A58E;
}

main.teen div#age select {
  font-family: 'letters for learners';
  background-color: #84A58E;
  width: 84%;
  height: 100%;
  font-size: 25px;
  color: white;
  border: 0px solid white;
  cursor:pointer;
}

main.teen div#monster {
  content: url(../images/man_white.png);
  width: 200px;
  position: fixed;
  bottom: 10px;
}

main.teen div#man {
  content: url(../images/man.png);
  width: 200px;
  position: fixed;
  bottom: 0px;
  left: 200px;
}

/*home_page-child*/

main.child div#play.child a {
  margin-top: 10px;
  background-color: #F7BB21;
  height: 65px;
  width: 300px;
  margin: 150px auto 0px auto;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
}

main.child div#play.child a:hover {
  background-color: #eb4d4b;
  transition: background-color 0.1s ease-in;
}

main.child div#rules.child a{
  background-color: #2C4DAA;
  height: 40px;
  width: 200px;
  margin: 50px auto 0px auto;
  font-size: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
}

main.child div#rules.child a:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.child div#red_monster {
  content: url(../images/red_monster.png);
  width: 250px;
  position: fixed;
  bottom: 10px;
  transition: width 0.2s ease-in;
}

main.child div#red_monster:hover {
  width: 275px;
  transition: width 0.2s ease-in;
}

main.child div#yellow_monster {
  content: url(../images/yellow_monster.png);
  width: 250px;
  position: fixed;
  bottom: 10px;
  left: 250px;
  transition: width 0.2s ease-in;
}

main.child div#yellow_monster:hover {
  width: 275px;
  transition: width 0.2s ease-in;
}

main.child div#green_monster {
  content: url(../images/green_monster.png);
  width: 400px;
  position: fixed;
  bottom: 50px;
  right: -100px;
  transform: rotate(-45deg);
  transition: width 0.2s ease-in;
}

main.child div#green_monster:hover {
  width: 450px;
  transition: width 0.2s ease-in;
}

main.teen div#play.teen a {
  margin-top: 10px;
  background-color: #84A58E;
  height: 75px;
  width: 300px;
  margin: 150px auto 0px auto;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  padding-top: 0px;
  transition: background-color 0.1s ease-in;
}

main.teen div#play.teen a:hover {
  background-color: #eb4d4b;
  transition: background-color 0.1s ease-in;
}

main.teen div#rules.teen a{
  background-color: #A59595;
  height: 50px;
  width: 200px;
  margin: 50px auto 0px auto;
  font-size: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
}

main.teen div#rules.teen a:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.teen div#red_monster {
  content: url(../images/man_black.png);
  width: 250px;
  position: fixed;
  bottom: 10px;
  transition: width 0.2s ease-in;
}

main.teen div#red_monster:hover {
  width: 260px;
  transition: width 0.2s ease-in;
}

main.teen div#yellow_monster {
  content: url(../images/man_white.png);
  width: 150px;
  position: fixed;
  bottom: 10px;
  left: 250px;
  transition: width 0.2s ease-in;
}

main.teen div#yellow_monster:hover {
  width: 175px;
  transition: width 0.2s ease-in;
}

main.teen div#green_monster {
  content: url(../images/man_ginger.png);
  width: 400px;
  position: fixed;
  bottom: -500px;
  right: -300px;
  transform: rotate(-45deg);
  transition: width 0.2s ease-in;
}

main.teen div#green_monster:hover {
  width: 425px;
  transition: width 0.2s ease-in;
}

/*category-child*/

main.child div#category {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 100px auto 0 auto;
}

main.child div#category div {
  width: 300px;
  height: 400px;
  text-align: center;
  font-size: 40px;
  transition: background-color 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in, color 0.1s ease-in;
}

main.child div#category div img {
  width: 100%;
  height: 100%;
}

main.child div#category div img:hover {
  transform: scale(1.1);
  transition: width 0.1s ease-in, height 0.1s ease-in;
}

main.child div#category div a {
  height: 400px;
  width: 300px;
}

main.teen div#category {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 100px auto 0 auto;
}

main.teen div#category div {
  width: 300px;
  height: 400px;
  text-align: center;
  font-size: 40px;
  transition: width 0.1s ease-in, height 0.1s ease-in;
}

main.teen div#category div img {
  width: 100%;
  height: 100%;
}

main.teen div#category div img:hover {
  transform: scale(1.1);
  transition: width 0.1s ease-in, height 0.1s ease-in;
}

main.teen div#category div a {
  height: 400px;
  width: 300px;
}

/*game-child*/

main.child div#game {
  width: 99%;
  height: 750px;
}

main.child div#game div#play {
  width: 65%;
  height: 90%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 60px;
}


main.child div#game div#play div.cards {
  width: 125px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  padding:10px;
  margin-bottom: 20px;
  transition: background-color 0.1s ease-in;
  text-align: center;
}

main.child div#game div#play div.cards span.description{
  font-family: 'letters for learners';
  font-size:30px;
  display: inline;
  color:#000000;
}

main.child div#game div#play div:hover {
  background-color: #F7BB21;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}
main.child div#game div#play div.cards img.blue_monster{
  width:80%;
}
main.child div#game div#play>h1 {
  display: none;
}

main.child div#game div#play span {
  display: none;
}

main.child div#game div#play div.icons_monster {
  display: none;
}

main.child div#game div#play div.icons_social {
  display: none;
}

main.child div#game div#play a {
  display: none;
}

main.child div#game div#win {
  width: 65%;
  height: 87%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #2C4DAA;
  margin-left: 60px;
  border-radius: 40px;
  margin-bottom: 20px;
  text-align: center;
}

main.child div#game div#win>h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

main.child div#game div#win span {
  font-size: 40px;
  margin-top: 30px;
}

main.child div#game div#win div.icons_monster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
}

main.child div#game div#win div.icons_monster div#icons_yellow-monster {
  content: url(../images/yellow_monster.png);
  height: 75px;
}

main.child div#game div#win div.icons_monster div#icons_green-monster {
  content: url(../images/green_monster.png);
  height: 75px;
}

main.child div#game div#win div.icons_social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140px;
  margin: 10px auto;
}

main.child div#game div#win div.icons_social div#icons_facebook {
  content: url(../images/facebook.png);
  height: 50px;
}

main.child div#game div#win div.icons_social div#icons_instagram {
  content: url(../images/instagram.png);
  height: 50px;
}

main.child div#game div#win div#replay a {
  margin-top: 10px;
  background-color: #F7BB21;
  height: 65px;
  width: 300px;
  margin: 60px auto 0px auto;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  padding-top: 10px;
}

main.child div#game div#win div#replay a:hover {
  background-color: #eb4d4b;
  transition: background-color 0.1s ease-in;
}
main.child div#game div#play div#replay{
  display:none;
}
main.child div#game input {
  background-color: #2C4DAA;
  width: 23%;
  height: 40px;
  display: block;
  float: right;
  border-radius: 100px;
  border:none;
  margin-bottom: 20px;
  margin-right: 40px;
  transition: background-color 0.1s ease-in;
  text-align: center;
  font-family:'letters for learners';
  font-size: 30px;
  color:white;
}

main.child div#game input:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.child div#game div#informations {
  width: 23%;
  height: 70%;
  background-color: #F7BB21;
  border-radius: 20px;
  float: right;
  margin-right: 40px;
  font-size: 18px;
}

main.child div#game div#informations h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

main.child div#game div#informations img{
  width: 80px;
  height: 80px;
  margin: 0 auto 40px auto;
  display: block;
}

main.child div#game div#informations p{
  margin: 0 40px;
}

main.child div#game div#questions {
  width: 93%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 40px 40px 40px 60px;
}

main.child div#game div#questions input {
  background-color: #2C4DAA;
  color:#ffffff;
  font-family: 'letters for learners';
  font-size:20px;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  border:none;
  transition: background-color 0.1s ease-in;
}

main.child div#game div#questions input:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

main.teen div#game {
  width: 99%;
  height: 750px;
}

main.teen div#game div#play {
  width: 65%;
  height: 90%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 60px;
}

main.teen div#game div#play div.cards {
  width: 125px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  padding:10px;
  margin-bottom: 20px;
  transition: background-color 0.1s ease-in;
  text-align: center;
}

main.teen div#game div#play div.cards span.description{
  font-family: 'letters for learners';
  font-size:30px;
  display: inline;
  color:#000000;
}

main.teen div#game div#play div:hover {
  background-color: #84A58E;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

main.teen div#game div#play>h1 {
  display: none;
}

main.teen div#game div#play span {
  display: none;
}

main.teen div#game div#play div.icons_monster {
  display: none;
}

main.teen div#game div#play div.icons_social {
  display: none;
}

main.teen div#game div#play a {
  display: none;
}

main.teen div#game div#play div.cards img.blue_monster{
  width:80%;
}

main.teen div#game div#win {
  width: 65%;
  height: 87%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #84A58E;
  margin-left: 60px;
  border-radius: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

main.teen div#game div#win>h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

main.teen div#game div#win span {
  font-size: 40px;
  margin-top: 30px;
}

main.teen div#game div#win div.icons_monster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
}

main.teen div#game div#win div.icons_monster div#icons_yellow-monster {
  content: url(../images/man_ginger.png);
  height: 75px;
}

main.teen div#game div#win div.icons_monster div#icons_green-monster {
  content: url(../images/man_white.png);
  height: 75px;
}

main.teen div#game div#win div.icons_social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 140px;
  margin: 10px auto;
}

main.teen div#game div#win div.icons_social div#icons_facebook {
  content: url(../images/facebook.png);
  height: 50px;
}

main.teen div#game div#win div.icons_social div#icons_instagram {
  content: url(../images/instagram.png);
  height: 50px;
}

main.teen div#game div#win div#replay a {
  background-color: #2C4DAA;
  height: 85px;
  width: 300px;
  margin: 40px auto 0px auto;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  padding-top: 10px;
}

main.teen div#game div#win div#replay a:hover {
  background-color: #eb4d4b;
  transition: background-color 0.1s ease-in;
}

main.teen div#game input {
  background-color: #84A58E;
  width: 23%;
  height: 40px;
  display: block;
  float: right;
  border-radius: 100px;
  margin-right: 40px;
  transition: background-color 0.1s ease-in;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color: white;
  margin-bottom: 10px;
  border: none;
}

main.teen div#game input:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.teen div#game div#informations {
  width: 23%;
  height: 70%;
  background-color: #84A58E;
  border-radius: 20px;
  float: right;
  margin-top: 125px;
  margin-bottom: 20px;
  margin-right: 40px;
}

main.teen div#game div#informations h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

main.teen div#game div#informations img{
  width: 80px;
  height: 80px;
  margin: 0 auto 40px auto;
  display: block;
}

main.teen div#game div#informations p{
  margin: 0 40px;
  font-size: 14px;
  color: white;
}

main.child div#game div#questions input {
  background-color: #2C4DAA;
  color:#ffffff;
  font-family: 'letters for learners';
  font-size:20px;
  height: 50px;
  width: 450px;
  border-radius: 50px;
  border:none;
  transition: background-color 0.1s ease-in;
}

main.teen div#game div#questions {
  width: 93%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 40px;
}

main.teen div#game div#questions div {
  background-color: #A59595;
  height: 50px;
  width: 400px;
  border-radius: 50px;
  transition: background-color 0.1s ease-in;
}

main.teen div#game div#questions input:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

/*upload*/

main.child div#upload {
  width: 800px;
  height: 400px;
  background-color: #F7BB21;
  margin: auto;
  padding: 30px;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

main.child div#red_monster_hide {
  content: url(../images/red_monster.png);
  width: 250px;
  position: fixed;
  bottom: 150px;
  left: 150px;
  transform: rotate(-45deg);
  z-index: -1;
}

main.child div#yellow_monster_hide {
  content: url(../images/yellow_monster.png);
  width: 250px;
  position: fixed;
  bottom: 0px;
  left: 550px;
  transform: rotate(180deg);
  transition: width 0.2s ease-in;
  z-index: -1;
}

main.child div#green_monster_hide {
  content: url(../images/green_monster.png);
  width: 400px;
  position: fixed;
  bottom: 125px;
  right: 100px;
  transform: rotate(45deg);
  transition: width 0.2s ease-in;
  z-index: -1;
}

main.child div#upload h1 {
  font-size: 50px;
  margin-top: 10px;
}

main.child div#upload p {
  margin-bottom: 100px;
}

main.child div#upload div#files {
  display: flex;
  justify-content: space-around;
}

main.child div#upload div#files div {
  flex-direction: column;
}

main.child div#upload div#files div a {
  background-color: #2C4DAA;
  height: 30px;
  width: 300px;
  border-radius: 50px;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
  display: block;
  margin-top: 20px;
}

main.child div#upload div#files div form {
  background-color: #2C4DAA;
  height: 30px;
  width: 300px;
  border-radius: 50px;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
  margin-top: 20px;
}

main.child div#upload div#files div a:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.child div#upload div#files div form:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.teen div#upload {
  width: 800px;
  height: 400px;
  background-color: #84A58E;
  margin: auto;
  padding: 30px;
  border-radius: 40px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  color: white;
}

main.teen div#red_monster_hide {
  content: url(../images/man_black.png);
  width: 250px;
  position: fixed;
  bottom: 60px;
  left: 170px;
  transform: rotate(-45deg);
  z-index: -1;
}

main.teen div#yellow_monster_hide {
  display: none;
}

main.teen div#green_monster_hide {
  content: url(../images/man_ginger.png);
  width: 200px;
  position: fixed;
  bottom: 100px;
  right: 200px;
  transform: rotate(45deg);
  transition: width 0.2s ease-in;
  z-index: -1;
}

main.teen div#upload h1 {
  font-size: 50px;
  margin-top: 10px;
}

main.teen div#upload p {
  margin-bottom: 100px;
}

main.teen div#upload div#files {
  display: flex;
  justify-content: space-around;
}

main.teen div#upload div#files div {
  flex-direction: column;
}

main.teen div#upload div#files div a {
  background-color: #2C4DAA;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
  display: block;
  margin-top: 20px;
}

main.teen div#upload div#files div form {
  background-color: #2C4DAA;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding-top: 10px;
  transition: background-color 0.1s ease-in;
  margin-top: 20px;
}

main.teen div#upload div#files div a:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

main.teen div#upload div#files div form:hover {
  background-color: #130f40;
  transition: background-color 0.1s ease-in;
}

/*

FOOTER

*/

footer {
  font-family: 'letters for learners';
  font-size: 20px;
}

footer div#footer.child {
  width: 450px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}

footer div#footer.child a:hover {
  text-decoration: underline;
}

footer div#footer.teen{
  width: 450px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'futura';
  font-size: 15px;
}

footer div#footer.teen a{
  color: black;
}

footer div#footer.teen a:hover {
  text-decoration: underline;
  font-family: 'futura';
}

/*

MEDIA

*/

@media screen and (max-width: 1000px) {
  main.child div#yellow_monster {
    display: none;
  }

  main.child div#green_monster {
    width: 300px;
    bottom: 120px;
    right: -100px;
  }

  main.child div#category {
    width: 700px;
  }

  main.child div#category div {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.child div#category div:hover {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.child div#game div#play {
    width: 100%;
    padding-left: 5px;
    float: none;
  }

  main.child div#game div#informations {
    width: 100%;
    height: 300px;
    float: none;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  main.child div#game div#questions {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  main.child div#game div#win {
    width: 100%;
    height: 600px;
    margin-left: 0px;
    border-radius: 40px;
    margin-bottom: 0px;
  }

  main.child div#yellow_monster_hide {
    display: none;
  }

  main.child div#red_monster_hide {
    bottom: 200px;
  }

  main.child div#upload {
    width: 600px;
  }

  main.child div#upload div#files div a {
    width: 290px;
  }

  main.child div#upload div#files div a {
    width: 290px;
  }

  main.child div#upload div#files div form {
    width: 290px;
  }

  main.child div#man {
    display: none;
  }

  main.teen div#yellow_monster {
    display: none;
  }

  main.teen div#green_monster {
    width: 125px;
    bottom: 120px;
    right: -100px;
  }

  main.teen div#category {
    width: 700px;
  }

  main.teen div#category div {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.teen div#category div:hover {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.teen div#game div#play {
    width: 100%;
    padding-left: 5px;
    float: none;
  }

  main.teen div#game div#informations {
    width: 100%;
    height: 300px;
    float: none;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  main.teen div#game div#questions {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  main.teen div#game div#win {
    width: 100%;
    height: 600px;
    margin-left: 0px;
    border-radius: 40px;
    margin-bottom: 0px;
  }

  main.teen div#yellow_monster_hide {
    display: none;
  }

  main.teen div#red_monster_hide {
    bottom: 200px;
  }

  main.child div#upload {
    width: 600px;
  }

  main.child div#upload div#files div a {
    width: 290px;
  }

  main.child div#upload div#files div a {
    width: 290px;
  }

  main.child div#upload div#files div form {
    width: 290px;
  }

  main.child div#man {
    display: none;
  }
  main.child div#game a {
    margin: auto;
    float: none;
    margin-right: 0px;
    font-size: 30px;
    padding-top: 10px;
  }

  main.teen div#game a {
    margin: auto;
    float: none;
    margin-right: 0px;
    font-size: 30px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  main.child div#red_monster {
    width: 150px;
    bottom: 10px;
  }

  main.child div#red_monster:hover {
    width: 150px;
  }

  main.child div#green_monster:hover {
    width: 300px;
  }

  main.child div#category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    margin: 100px auto 0 auto;
  }

  main.child div#category div {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.child div#category div:hover {
    background-color: white;
    width: 200px;
    height: 300px;
  }

  main.child div#game div#play {
    width: 100%;
    padding-left: 5px;
    float: none;
  }

  main.child div#game div#informations {
    width: 100%;
    height: 300px;
    float: none;
    margin-top: 200px;
    margin-bottom: 15px;
  }

  main.child div#game div#questions {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  main.child div#green_monster_hide {
    display: none;
  }

  main.child div#upload {
    width: 400px;
  }

  main.child div#upload p {
    margin-bottom: 50px;
  }

  main.child div#upload div#files {
    flex-direction: column;
    width: 300px;
    margin: auto;
  }

  main.child div#upload div#files div {
    width: 300px;
    margin-bottom: 20px;
  }

  main.child div#monster {
    bottom: 250px;
    width: 150px;
  }

  main.teen div#red_monster {
    width: 150px;
    bottom: 10px;
  }

  main.teen div#red_monster:hover {
    width: 150px;
  }

  main.teen div#green_monster:hover {
    width: 300px;
  }

  main.teen div#category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
    margin: 100px auto 0 auto;
  }

  main.teen div#category div {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  main.teen div#category div:hover {
    background-color: white;
    width: 200px;
    height: 300px;
  }

  main.teen div#game div#play {
    width: 100%;
    padding-left: 5px;
    float: none;
  }

  main.teen div#game div#informations {
    width: 100%;
    height: 300px;
    float: none;
    margin-top: 475px;
    margin-bottom: 15px;
  }

  main.teen div#game div#questions {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  main.teen div#green_monster_hide {
    display: none;
  }

  main.teen div#upload {
    width: 400px;
  }

  main.teen div#upload p {
    margin-bottom: 50px;
  }

  main.teen div#upload div#files {
    flex-direction: column;
    width: 300px;
    margin: auto;
  }

  main.teen div#upload div#files div {
    width: 300px;
    margin-bottom: 20px;
  }

  main.teen div#monster {
    bottom: 250px;
    width: 150px;
  }
}
